#
# linux/drivers/mtd/spinand/Kconfig
#

menuconfig MTD_SPINAND
	tristate "SPINAND Device Support"
	depends on MTD
	help
	  This enables support for accessing Micron SPI NAND flash
	  devices.

if MTD_SPINAND

config SPINAND_DEBUG
	bool "SPINAND debug read/write/erase"
	help
	 debug information

config SPI_NAND_VERIFY_WRITE
	bool "Verify SPI NAND page writes"
	help
	  This adds an extra check when data is written to the flash. The
	  SPI NAND flash device internally checks only bits transitioning
	  from 1 to 0. There is a rare possibility that even though the
	  device thinks the write was successful, a bit could have been
	  flipped accidentally due to device wear or something else.

config MTD_SPINAND_ONDIEECC
	bool "Use SPINAND internal ECC"
	default y
	help
	 Internel ECC

config MTD_SPINAND_SWECC
	bool "Use software ECC"
	depends on MTD_NAND
	help
	 software ECC

endif
